<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="vZDV ARTCC" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://zdvartcc.org" />
    <meta property="og:description" content="Website for the virtual ZDV ARTCC, part of VATUSA and VATSIM" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/index.css">
    <title>{% block title %}vZDV{% endblock %}</title>
  </head>
  <body style="background-color: #212529">
    {% block above_nav %}{% endblock %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm mb-3">
      <div class="container-md">
        <a class="navbar-brand" href="/">vZDV</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if not no_links %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feedback">Feedback</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Airspace
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/airspace/airports">Airports</a></li>
                  <li><a class="dropdown-item" href="/airspace/flights">Flights</a></li>
                  <li><a class="dropdown-item" href="/airspace/weather">Weather</a></li>
                  <li><a class="dropdown-item" href="/airspace/staffing_request">Staffing Request</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a href="https://www.simbrief.com" class="dropdown-item" target="_blank">SimBrief</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="https://skyvector.com/" target="_blank">SkyVector</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="https://www.flightaware.com/statistics/ifr-route/" target="_blank">IFR Routing</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="https://vatsim-radar.com/" target="_blank">VATSIM Radar</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Facility
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/facility/staff">Staff</a></li>
                  <li><a class="dropdown-item" href="/facility/roster">Roster</a></li>
                  <li><a class="dropdown-item" href="/facility/activity">Activity</a></li>
                  <li><a class="dropdown-item" href="/facility/resources">Resources</a></li>
                  <li><a class="dropdown-item" href="/facility/aliasref">Alias Reference</a></li>
                  {% if not user_info or not user_info.is_home %}
                    <li><a class="dropdown-item" href="/facility/visitor_application">Visitor Application</a></li>
                  {% endif %}
                </ul>
              </li>
              {% if user_info and user_info.is_some_staff %}
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/off_roster_list" class="dropdown-item">Off-roster list</a></li>
                    <li><a href="/admin/solo_cert_list" class="dropdown-item">Solo certs</a></li>
                    <li><a href="/admin/no_show_list" class="dropdown-item">No shows</a></li>
                    {% if user_info.is_named_staff %}
                      <li><a href="/admin/resources" class="dropdown-item">Manage resources</a></li>
                    {% endif %}
                    {% if user_info.is_admin %}
                      <li><a href="/admin/audit_log" class="dropdown-item">Audit log</a></li>
                      <li><a href="/admin/feedback" class="dropdown-item">Manage feedback</a></li>
                      <li><a href="/admin/visitor_applications" class="dropdown-item">Manage visitor apps</a></li>
                      <li><a href="/admin/activity_report" class="dropdown-item">Activity report</a></li>
                      <li><a href="/admin/emails" class="dropdown-item">Emails</a></li>
                      <li><a href="/admin/logs" class="dropdown-item">Read logs</a></li>
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              {% if user_info and user_info.cid %}
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ user_info.first_name }} {{ user_info.last_name }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user/discord">Discord</a></li>
                    <li><a class="dropdown-item" href="/user/training_notes">My Training Notes</a></li>
                    <li><a class="dropdown-item" href="https://training.zdvartcc.org" target="_blank">Schedule Training</a></li>
                    <li><a class="dropdown-item" href="/auth/logout">Log out</a></li>
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="/auth/log_in">Log in</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"></script>

    {% if flashed_messages %}
      <div class="container" id="flashed-messages">
        {% for message in flashed_messages %}
          <div class="{{ message.class }} alert-dismissible fade show" role="alert">
            {{ message.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class="container" style="min-height: 85vh">{% block body %}{% endblock %}</div>

    <div class="mt-5">
      <div class="container">
        <p class="text-body-tertiary" style="font-size: 80%">
          This site is not affiliated with the Federal Aviation Administration, actual Denver ARTCC, or any real-world governing aviation body.
          <br>
          All content herein is solely for use on the <a href="https://vatsim.net/" class="text-decoration-none" target="_blank">VATSIM network</a>.
          <br>
          <a href="/terms_of_use" class="text-decoration-none">Terms of use</a> |
          <a href="/privacy_policy" class="text-decoration-none">Privacy policy</a> |
          <a href="/changelog" class="text-decoration-none">Changelog</a> |
          <a href="https://github.com/vzdv-artcc/vzdv" class="text-decoration-none" target="_blank">FOSS</a>
        </p>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
