{% extends "_layout.jinja" %}

{% block title %}Changelog | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Changelog</h2>

<h4>What is this?</h4>
<p>
  This page details the changes that have been made to the site, task runner, and Discord bot over time. You don't need to know the information on this page, but it's provided
  as a record of those changes.
</p>

<hr>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-03-11</h5>
    <div class="card-text">
      <ul>
        <li>Show unpublished event tag on event listing page for event staff.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-03-10</h5>
    <div class="card-text">
      <ul>
        <li>Fix visiting controller form.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-03-09</h5>
    <div class="card-text">
      <ul>
        <li>Remove ZLC MVAP visitor bypass.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-03-06</h5>
    <div class="card-text">
      <ul>
        <li>Add ability for the Events team to upload a banner image when creating or editing events.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-03-03</h5>
    <div class="card-text">
      <ul>
        <li>Update mentions of "OTS" to "RCE".</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-03-02</h5>
    <div class="card-text">
      <ul>
        <li>Badge on event registrations to show total count.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-01-12</h5>
    <div class="card-text">
      <ul>
        <li>Use session storage for training note textarea in case of submission issue.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-01-11</h5>
    <div class="card-text">
      <ul>
        <li>VATUSA title in Discord for VATUSA# members.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2026-01-01</h5>
    <div class="card-text">
      <ul>
        <li>Added simple terms of use.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-12-02</h5>
    <div class="card-text">
      <ul>
        <li>Added support for ATA role.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-11-26</h5>
    <div class="card-text">
      <ul>
        <li>Students can see their RCE training notes.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-11-22</h5>
    <div class="card-text">
      <ul>
        <li>Update to training notes form to allow training staff to record recommending students for RCEs.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-11-16</h5>
    <div class="card-text">
      <ul>
        <li>Little note added to the form to create new training notes to explain the restrictions of the position field.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-10-26</h5>
    <div class="card-text">
      <ul>
        <li>Reminder emails will be sent to controllers who have not met currency requirements 1 month and 2 weeks before the end of the quarter</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-10-20</h5>
    <div class="card-text">
      <ul>
        <li>Feedback page takes a "cid" querystring param to auto-select the controller dropdown</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-09-15</h5>
    <div class="card-text">
      <ul>
        <li>Update controller URL on admin page for visitor applications</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-09-15</h5>
    <div class="card-text">
      <ul>
        <li>Certs being removed for controller roster removal will be logged first</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-09-14</h5>
    <div class="card-text">
      <ul>
        <li>Added INS tag for appropriate Discord members</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-08-04</h5>
    <div class="card-text">
      <ul>
        <li>Fix feedback for unknown controllers not showing for admin review</li>
        <li>Restore the homepage banner; it seemed to have disappeared</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-07-30</h5>
    <div class="card-text">
      <ul>
        <li>New banner above the navbar added on the homepage</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-07-25</h5>
    <div class="card-text">
      <ul>
        <li>Discord bot now assigns controllers for Denver Ground, Tower, and Approach</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-07-19</h5>
    <div class="card-text">
      <ul>
        <li>New controls on activity audit page for Sr Staff</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-07-14</h5>
    <div class="card-text">
      <ul>
        <li>New roster stats visualizations</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-07-11</h5>
    <div class="card-text">
      <ul>
        <li>Fixed issue with not being able to delete events after people have signed up</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-07-02</h5>
    <div class="card-text">
      <ul>
        <li>Activity report updates for links and table sorting</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-06-18</h5>
    <div class="card-text">
      <ul>
        <li>Certs are stripped from controllers when they leave the roster</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-06-09</h5>
    <div class="card-text">
      <ul>
        <li>SOP initialling requires opening the document beforehand</li>
        <li>Home controllers not longer see a menu option to submit a visitor application</li>
        <li>Slight improvement to homepage online controller list for mobile</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-06-08</h5>
    <div class="card-text">
      <ul>
        <li>Feedback rating text is capitalized on its admin page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-05-30</h5>
    <div class="card-text">
      <ul>
        <li>Adding back the ability to add no-show records for events</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-06-31</h5>
    <div class="card-text">
      <ul>
        <li>Add feature to initial resources</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-05-23</h5>
    <div class="card-text">
      <ul>
        <li>New /resources command in Discord</li>
        <li>Event position dropdown is now sorted</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-05-13</h5>
    <div class="card-text">
      <ul>
        <li>Allow submitting feedback when you don't know the controller</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-05-12</h5>
    <div class="card-text">
      <ul>
        <li>Added more meta tags for link embed improvements</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-05-07</h5>
    <div class="card-text">
      <ul>
        <li>New page for KDEN information</li>
        <li>Start receiving vATIS POST updates</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-04-25</h5>
    <div class="card-text">
      <ul>
        <li>Minor improvement to admin feedback management page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-04-19</h5>
    <div class="card-text">
      <ul>
        <li>Improvement to no-show emails to the TA</li>
        <li>S3 Mentors can now grant solo certs that are reported to VATUSA</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-29</h5>
    <div class="card-text">
      <ul>
        <li>Fix transfer checklist VATUSA API call</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-22</h5>
    <div class="card-text">
      <ul>
        <li>Add link to controller page from event registrations</li>
        <li>Text change for button on controller page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-19</h5>
    <div class="card-text">
      <ul>
        <li>Clean up of staff buttons on the controller page</li>
        <li>Controllers can be updated from VATUSA on demand by staff</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-14</h5>
    <div class="card-text">
      <ul>
        <li>Fix sorting of the activity table</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-12</h5>
    <div class="card-text">
      <ul>
        <li>New 'back' button on controller pages for easier navigating</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-11</h5>
    <div class="card-text">
      <ul>
        <li>Fixed some CSS classes on the feedback page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-08</h5>
    <div class="card-text">
      <ul>
        <li>Updates to the visitor application flow for improved logging</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-03-07</h5>
    <div class="card-text">
      <ul>
        <li>Removed EGE from certifications from the roster, controller pages, and training site</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-24</h5>
    <div class="card-text">
      <ul>
        <li>Fixed alias reference page not showing the user as logged in</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-22</h5>
    <div class="card-text">
      <ul>
        <li>Staff can now more easily update resources</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-21</h5>
    <div class="card-text">
      <ul>
        <li>Fixed some issues with button clicks not doing what they're supposed to</li>
        <li>Training staff can overwrite solo cert end dates (i.e. for extending them) easier</li>
        <li>New solo certs are for 45 days instead of 1 month</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-16</h5>
    <div class="card-text">
      <ul>
        <li>Event registrations without position assignments are now longer deleted when a position in that event is deleted</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-07</h5>
    <div class="card-text">
      <ul>
        <li>Training staff who select "no show" in a training note also automatically create a no-show entry on our site</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-07</h5>
    <div class="card-text">
      <ul>
        <li>Mentors can grant position solo certs on the website (i.e. not solos that need to be reported to VATUSA)</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-05</h5>
    <div class="card-text">
      <ul>
        <li>Fixed the link to the training site in emails</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-02-01</h5>
    <div class="card-text">
      <ul>
        <li>Don't show un-primed controllers in online list</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-31</h5>
    <div class="card-text">
      <ul>
        <li>Update training link to hosted Scheddy</li>
        <li>Fix spot-updating activity for first-of-the-month controlling session</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-29</h5>
    <div class="card-text">
      <ul>
        <li>Fix homepage controller listing for Delivery</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-24</h5>
    <div class="card-text">
      <ul>
        <li>Activity page "totals" row</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-22</h5>
    <div class="card-text">
      <ul>
        <li>More homepage styling changes</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-21</h5>
    <div class="card-text">
      <ul>
        <li>Homepage styling changes</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-19</h5>
    <div class="card-text">
      <ul>
        <li>Online controllers card on homepage moved and expanded</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-17</h5>
    <div class="card-text">
      <ul>
        <li>Improve resilience of deleting solo certs from this website</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-15</h5>
    <div class="card-text">
      <ul>
        <li>Hide the FAA weather map on mobile viewports</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-10</h5>
    <div class="card-text">
      <ul>
        <li>Add FAA weather map to top of weather page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-09</h5>
    <div class="card-text">
      <ul>
        <li>Added LOA form for Sr Staff to use for controllers</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-03</h5>
    <div class="card-text">
      <ul>
        <li>Fixed reply-to header in sent emails</li>
        <li>Improved text in staffing request Discord notification</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-03</h5>
    <div class="card-text">
      <ul>
        <li>Controller feedback form default controller fixed</li>
        <li>Controller feedback form position made into a simplified dropdown, and some other textual changes</li>
        <li>Visitors removed from the roster now receive emails direct from ZDV</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2025-01-01</h5>
    <div class="card-text">
      <ul>
        <li>Update the admin activity report for improved accuracy</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-12-29</h5>
    <div class="card-text">
      <ul>
        <li>Minor text improvement to solo certs page</li>
        <li>Minor text improvement to controller page</li>
        <li>Changed role assignments by the TA</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-12-20</h5>
    <div class="card-text">
      <ul>
        <li>New static file routing to allow content-type header overrides</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-12-18</h5>
    <div class="card-text">
      <ul>
        <li>Add new facility page for showing the CRC aliases available to controllers</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-12-13</h5>
    <div class="card-text">
      <ul>
        <li>ACE controllers online in ZDV airspace won't trigger Discord notifications to Sr Staff of off-roster controlling</li>
        <li>Integrated my <a href="https://github.com/Celeo/vatsim_pilot_glance_online" class="text-decoration-none" target="_blank">vatsim_pilot_glance_online</a> tool into the site</li>
        <li>Fix events disappearing from home and events page too quickly</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-12-11</h5>
    <div class="card-text">
      <ul>
        <li>Fixed some not-logged-in wording</li>
        <li>Fixed spot-update activity counting other facility controlling and observers (true-up activity for CoTM/etc. not affected)</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-21</h5>
    <div class="card-text">
      <ul>
        <li>API page for flight data for ZTL</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-20</h5>
    <div class="card-text">
      <ul>
        <li>Styling improvements for modals on mobile</li>
        <li>Improvements for Discord no-show notifications</li>
        <li>Showing more info on user's own training notes page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-19</h5>
    <div class="card-text">
      <ul>
        <li>Add new audit log page for Sr. Staff</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-18</h5>
    <div class="card-text">
      <ul>
        <li>Modifications to the Discord no-show integration</li>
        <li>No-shows now automatically expire</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-16</h5>
    <div class="card-text">
      <ul>
        <li>Some refactoring; no user impact</li>
        <li>Visitors are immediately shown as on-roster after their application is accepted</li>
        <li>Restore "solo" option in controller certification dropdown for training staff</li>
        <li>"Solo" controller certifications are reset to "training" if a solo cert expires</li>
        <li>New page for training event and training no-shows</li>
        <li>No-show page is now permissions filtered to differentiate between event and training staff</li>
        <li>Users are notified by Discord DM if they are added to the no-show list</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-15</h5>
    <div class="card-text">
      <ul>
        <li>New staff page for all solo certs</li>
        <li>Discord alerts for training staff of expiring solo certs</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-11</h5>
    <div class="card-text">
      <ul>
        <li>Allow setting solo certs on the website with optional reporting to VATUSA</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-10</h5>
    <div class="card-text">
      <ul>
        <li>Allow users to leave an email address in feedback to be contacted later</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-08</h5>
    <div class="card-text">
      <ul>
        <li>Capitalized first letter of feedback rating posted to Discord</li>
        <li>Fixed from/to/within flights on homepage</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-06</h5>
    <div class="card-text">
      <ul>
        <li>Removal of 'K' from airport codes</li>
        <li>Airport links on weather page to metar-taf.com</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-05</h5>
    <div class="card-text">
      <ul>
        <li>Splitting of airports and weather stations for their respective pages</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-04</h5>
    <div class="card-text">
      <ul>
        <li>Added a Sr Staff Discord webhook notification for new visitor requests</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-04</h5>
    <div class="card-text">
      <ul>
        <li>Highlighting added to event registrations for assigned controllers, minor styling changes to the table</li>
        <li>Fix permissions on adding new resources</li>
        <li>Added controller history lookup for Sr staff</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-03</h5>
    <div class="card-text">
      <ul>
        <li>Slight color change to silver activity rank on activity page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-11-01</h5>
    <div class="card-text">
      <ul>
        <li>Unregistering from an event now removes the controller from any assigned positions</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-30</h5>
    <div class="card-text">
      <ul>
        <li>Controller page CSS improvements for mobile</li>
        <li>Visitor application form URL fix</li>
        <li>Visitor application bypass for ZLC home controllers added</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-28</h5>
    <div class="card-text">
      <ul>
        <li>Homepage event loading change</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-27</h5>
    <div class="card-text">
      <ul>
        <li>Slight homepage panel loading change</li>
        <li>Slight event page styling change</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-26</h5>
    <div class="card-text">
      <ul>
        <li>Fix error when deleting an event position that controllers have already registered for.</li>
        <li>Small homepage CSS tweaks for mobile devices</li>
        <li>Fix error page</li>
        <li>Add 2 more controllers to the COTM panel on the homepage</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-24</h5>
    <div class="card-text">
      <ul>
        <li>Privacy policy page added.</li>
        <li>Small changes to activity report.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-23</h5>
    <div class="card-text">
      <ul>
        <li>Sr Staff activity report feature.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-22</h5>
    <div class="card-text">
      <ul>
        <li>Sr Staff can edit controller feedback before posting (mostly to remove PII).</li>
        <li>Controller training notes are a bit more lively-looking.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-21</h5>
    <div class="card-text">
      <ul>
        <li>Login sessions will last much longer.</li>
        <li>Audit reporting for some events to another Discord webhook.</li>
        <li>Approved feedback from the ADH site imported here.</li>
        <li>Controllers can see their own feedback on their controller page.</li>
        <li>Sr Staff notifications of new controller feedback.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-20</h5>
    <div class="card-text">
      <ul>
        <li>The right-side cards on the homepage auto-refresh every so often</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-19</h5>
    <div class="card-text">
      <ul>
        <li>Faster activity updating for active controllers</li>
        <li>Sr Staff can silently approve controller feedback (i.e. not send it to Discord)</li>
        <li>Many of the tables on the site are sortable by clicking on the table headers</li>
        <li>When a new Discord member joins, the bot attempts to update them immediately</li>
        <li>Sr Staff can remove controllers (home and visiting) from the roster</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-16</h5>
    <div class="card-text">
      <ul>
        <li>Fix top-nav not showing on changelog page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-14</h5>
    <div class="card-text">
      <ul>
        <li>Add flights not starting or ending in facility airports but physically located in its airspace to home and flights pages</li>
        <li>Add this changelog page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-14</h5>
    <div class="card-text">
      <ul>
        <li>Fix for adding OIs to new roster controllers</li>
        <li>Restrict event notes to 500 characters</li>
        <li>Fix position matching for off-roster controllers</li>
        <li>Create editable email templates for Sr. Staff</li>
        <li>Fix manual-email-send post-form-submission redirect destination</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-13</h5>
    <div class="card-text">
      <ul>
        <li>Improved the online controllers message in Discord</li>
        <li>Code cleanup</li>
        <li>Fix roster page showing 'none' certificates as certified</li>
        <li>Added 'bot-ignore' support for Discord nicknames</li>
        <li>Reduce activity task delay to 6 hours</li>
        <li>Reduce roster task delay to 2 hours</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-12</h5>
    <p class="card-text">
      Site released! Welcome to v1.0.0.
    </p>
  </div>
</div>

{% endblock %}
