{% extends "_layout.jinja" %}

{% block title %}{{ event.name }} | {{ super() }}{% endblock %}

{% block body %}

<script defer src="/static/event_page.js"></script>
<script defer src="/static/sorttable.js"></script>

<div class="row">
  <div class="col">
    <h2>
      {{ event.name }}
      {% if event.published %}{% else %}(unpublished){% endif %}
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-6">
    <h5 class="pt-3"><strong>Start:</strong> <span class="d-none event-time" updateTarget="editFormStart">{{ event.start }}</span></h5>
    <h5><strong>End:</strong> <span class="d-none event-time" updateTarget="editFormEnd">{{ event.end }}</span></h5>
    <p class="pt-3">{{ event.description }}</p>
    {% if event_not_over %}
      <div class="d-flex justify-content-between pb-3">
        {% if user_info and user_info.is_some_staff or is_on_roster %}
          <button role="button" class="btn btn-primary" onclick="modalRegisterForm.showModal()">
            {% if self_register %}
              <i class="bi bi-pencil"></i> Update registration
            {% else %}
              <i class="bi bi-plus-circle"></i> Register
            {% endif %}
          </button>
        {% endif %}
        {% if is_event_staff %}
          <button role="button" class="btn btn-warning" onclick="modalEditForm.showModal()">
            <i class="bi bi-pencil"></i>
            Edit event
          </button>
          <button role="button" class="btn btn-warning" onclick="modalNoShow.showModal()">
            <i class="bi bi-alarm"></i>
            No shows
          </button>
          <button role="button" class="btn btn-danger" id="button-delete" event-id="{{ event.id }}">
            <i class="bi bi-trash"></i>
            Delete
          </button>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="col-12 col-lg-6">
    <img src="{{ event.image_url }}" alt="Event banner" class="img-fluid" />
  </div>
</div>

<div class="row pt-4">
  <div class="col">
    <h4>Enroute Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'Enroute' %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ position.name }} - {{ position.controller }}</span>
            {% if is_event_staff and event_not_over %}
              <div class="d-flex">
                <button class="btn btn-outline-warning btn-sm me-3 btn-position-set" position_id="{{ position.id }}" type="submit"><i class="bi bi-person"></i></button>
                <form action="/events/{{ event.id }}/delete_position/{{ position.id }}" method="POST">
                  <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i></button>
                </form>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if event_not_over and is_event_staff %}
      <button class="btn btn-outline-warning btn-sm btn-position-add" style="width: 100%" category="Enroute">+ Add</button>
    {% endif %}
  </div>
  <div class="col">
    <h4>TRACON Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'TRACON' %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ position.name }} - {{ position.controller }}</span>
            {% if is_event_staff and event_not_over %}
              <div class="d-flex">
                <button class="btn btn-outline-warning btn-sm me-3 btn-position-set" position_id="{{ position.id }}" type="submit"><i class="bi bi-person"></i></button>
                <form action="/events/{{ event.id }}/delete_position/{{ position.id }}" method="POST">
                  <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i></button>
                </form>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if event_not_over and is_event_staff %}
      <button class="btn btn-outline-warning btn-sm btn-position-add" style="width: 100%" category="TRACON">+ Add</button>
    {% endif %}
  </div>
  <div class="col">
    <h4>Local Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'Local' %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ position.name }} - {{ position.controller }}</span>
            {% if is_event_staff and event_not_over %}
              <div class="d-flex">
                <button class="btn btn-outline-warning btn-sm me-3 btn-position-set" position_id="{{ position.id }}" type="submit"><i class="bi bi-person"></i></button>
                <form action="/events/{{ event.id }}/delete_position/{{ position.id }}" method="POST">
                  <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i></button>
                </form>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if event_not_over and is_event_staff %}
      <button class="btn btn-outline-warning btn-sm btn-position-add" style="width: 100%" category="Local">+ Add</button>
    {% endif %}
  </div>
</div>

{% if is_event_staff %}
  <div class="pt-3"></div>
  <hr />
  <h2>
    Sign-ups
    <span class="badge rounded-pill text-bg-light fs-6">{{ registrations|length }}</span>
  </h2>
  <table class="table table-striped table-hover sortable" style="table-layout: fixed">
    <thead>
      <tr>
        <th>Controller</th>
        <th>Choice 1</th>
        <th>Choice 2</th>
        <th>Choice 3</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
        <tr>
          {% if registration.is_assigned %}
            <td class="text-info">
              <i class="bi bi-check" title="Assigned to a position"></i>
              {{ registration.controller }}
              <a href="/controller/{{ registration.cid }}" class="icon-link icon-link-hover text-decoration-none">
                <i class="bi bi-arrow-right-short"></i>
              </a>
            </td>
          {% else %}
            <td>
              {{ registration.controller }}
              <a href="/controller/{{ registration.cid }}" class="icon-link icon-link-hover text-decoration-none">
                <i class="bi bi-arrow-right-short"></i>
              </a>
            </td>
          {% endif %}
          <td class="{% if registration.is_assigned %}text-info{% endif %}">{{ registration.choice_1 }}</td>
          <td class="{% if registration.is_assigned %}text-info{% endif %}">{{ registration.choice_2 }}</td>
          <td class="{% if registration.is_assigned %}text-info{% endif %}">{{ registration.choice_3 }}</td>
          <td class="{% if registration.is_assigned %}text-info{% endif %}">{{ registration.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<dialog id="modalEditForm">
  <h2 class="pb-3">Edit event</h2>
  <form action="/events/{{ event.id }}" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <input type="hidden" name="timezone" id="input-timezone">
        <div class="mb-3">
          <label for="name" class="form-label">Event name</label>
          <input type="text" class="form-control" name="name" value="{{ event.name }}" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description">{{ event.description }}</textarea>
        </div>
        <div class="row mb-3">
          <p class="mb-2" style="font-size: 80%">This is the banner that'll be shown for the event. Either use a URL for the image, or upload the image file here. Don't do both.</p>
          <div class="col">
            <label for="banner" class="form-label">Banner URL (image already hosted somewhere)</label>
            <input type="text" class="form-control" name="banner" value="{{ event.image_url }}">
          </div>
          <div class="col">
            <label for="banner_file" class="form-label">Banner Image Upload (host the image on our site)</label>
            <input type="file" class="form-control" name="banner_file">
          </div>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="published" name="published" {% if event.published %}checked{% endif %}>
          <label class="form-check-label" for="published">
            Published
          </label>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="start" class="form-label">Start</label>
            <input type="datetime-local" name="start" id="editFormStart" class="form-control" required>
          </div>
          <div class="col">
            <label for="end" class="form-label">End</label>
            <input type="datetime-local" name="end" id="editFormEnd" class="form-control" required>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-edit-close">Close</button>
          <button class="btn btn-success" role="button" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalRegisterForm">
  <h2 class="pb-3">Register</h2>
  <form action="/events/{{ event.id }}/register" method="POST">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <select class="form-select" name="choice_1">
            <option value="0">~ Empty</option>
            {% for position in positions_raw %}
              <option value="{{ position.id }}" {% if self_register and self_register.choice_1 == position.id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" name="choice_2">
            <option value="0">~ Empty</option>
            {% for position in positions_raw %}
              <option value="{{ position.id }}" {% if self_register and self_register.choice_2 == position.id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" name="choice_3">
            <option value="0">~ Empty</option>
            {% for position in positions_raw %}
              <option value="{{ position.id }}" {% if self_register and self_register.choice_3 == position.id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          <textarea name="notes" class="form-control" maxlength="500">{{ self_register.notes }}</textarea>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-register-close">Close</button>
          <div class="">
            {% if self_register %}
              <button class="btn btn-danger" role="button" id="btn-modal-register-unregister" event-id="{{ event.id }}">Unregister</button>
            {% endif %}
            <button class="btn btn-success" role="button" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalAddPosition">
  <h2 class="pb-3">Add position</h2>
  <form action="/events/{{ event.id }}/add_position" method="POST">
    <div class="row">
      <div class="col">
        <input type="hidden" name="category" id="new-position-category">
        <div class="mb-3">
          <label for="name" class="form-label">Position</label>
          <input type="text" class="form-control" name="name" style="text-transform: uppercase">
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-add-position-close">Close</button>
          <button class="btn btn-success" role="button" type="submit">Add</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalSetPosition">
  <h2 class="pb-3">Set position</h2>
  <form action="/events/{{ event.id }}/set_position" method="POST">
    <div class="row">
      <div class="col">
        <input type="hidden" name="position_id" id="set-position-id">
        <p>Either select a controller from the dropdown, or enter a controller's CID into the second field.</p>
        <div class="mb-3">
          <label for="controller" class="form-label">On-roster</label>
          <select class="form-select" name="controller">
            <option value="0">Empty</option>
            {% for (cid, name) in all_controllers %}
              <option value="{{ cid }}">{{ name }}</option>
            {% endfor %}
          </select>
          <hr>
          <label for="controller_cid" class="form-label">CID entry</label>
          <input type="number" min="0" id="controller_cid" name="controller_cid" class="form-control">
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-set-position-close">Close</button>
          <button class="btn btn-success" role="button" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalNoShow">
  <h2 class="pb-3">No shows</h2>
  <form action="/events/{{ event.id }}/no_show" method="POST">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <p>
            Use this form to add a record for a controller who did not show for the event or who was late.
            <br>
            To <i>remove</i> these records, see the <a href="/admin/no_show_list" class="text-decoration-none">corresponding admin page</a>.
          </p>
          <label for="form-select" name="cid">Controller</label>
          <select class="form-select" name="cid">
            {% for (cid, name) in all_controllers %}
              <option value="{{ cid }}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          <textarea name="notes" class="form-control"></textarea>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-no-show-close">Close</button>
          <button class="btn btn-primary" role="button" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

{% endblock %}
