{% if events|length == 0 %}
  No upcoming events
{% else %}
  {% for event in events %}
    <div class="pb-4">
      <h4 class="mb-1">
        <a href="/events/{{ event.id }}" class="icon-link icon-link-hover text-decoration-none">
          {{ event.name }}
          {% if event.published %}{% else %}(unpublished){% endif %}
          <i class="bi bi-arrow-right-short"></i>
        </a>
      </h4>
      <p class="mb-1 event-time-range" data-start="{{ event.start }}" data-end="{{ event.end }}"></p>
      <a href="/events/{{ event.id }}">
        <img src="{{ event.image_url }}" alt="Event banner" class="img-fluid" style="width: 100%" />
      </a>
    </div>
  {% endfor %}
{% endif %}

<script defer src="/static/event_times.js"></script>
