{% extends "_layout.jinja" %}

{% block title %}Events | {{ super() }}{% endblock %}

{% block body %}

<div class="clearfix">
  <div class="float-start">
    <h2>Events</h2>
  </div>
  {% if is_event_staff %}
    <div class="float-end">
      <button type="button" class="btn btn-primary" id="btn-modal-open">
        <i class="bi bi-plus-circle"></i>
        Create event
      </button>
    </div>
  {% endif %}
</div>

{% include 'events/upcoming_events_snippet.jinja' %}

<dialog id="modalNewForm">
  <h2 class="pb-3">Create new event</h2>
  <form action="/events" method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label for="name" class="form-label">Event name</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="row mb-3">
          <p class="mb-2" style="font-size: 80%">This is the banner that'll be shown for the event. Either use a URL for the image, or upload the image file here. Don't do both.</p>
          <div class="col">
            <label for="banner" class="form-label">Banner URL (image already hosted somewhere)</label>
            <input type="text" class="form-control" name="banner">
          </div>
          <div class="col">
            <label for="banner_file" class="form-label">Banner Image Upload (host the image on our site)</label>
            <input type="file" class="form-control" name="banner_file">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="start" class="form-label">Start (Zulu)</label>
            <input type="datetime-local" name="start" class="form-control" required>
          </div>
          <div class="col">
            <label for="end" class="form-label">End (Zulu)</label>
            <input type="datetime-local" name="end" class="form-control" required>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-close">Close</button>
          <button class="btn btn-success" role="button" type="submit">Create</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<script defer>
  document.getElementById('btn-modal-open').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalNewForm').showModal();
  });
  document.getElementById('btn-modal-close').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalNewForm').close();
  });
  document.getElementById('input-timezone').value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>

{% endblock %}
