[Unit]
Description=New vZDV site
Requires=network.target

[Service]
WorkingDirectory=/home/zdv/vzdv
ExecStart=/home/zdv/vzdv/vzdv-site
Restart=always

[Install]
WantedBy=multi-user.target
