[Unit]
Description=New vZDV site tasks
Requires=network.target

[Service]
WorkingDirectory=/home/zdv/vzdv
ExecStart=/home/zdv/vzdv/vzdv-tasks
Restart=always

[Install]
WantedBy=multi-user.target
