[Unit]
Description=New vZDV Discord bot
Requires=network.target

[Service]
WorkingDirectory=/home/zdv/vzdv
ExecStart=/home/zdv/vzdv/vzdv-bot
Restart=always

[Install]
WantedBy=multi-user.target
