<h2>Activity report</h2>

<p>Months: {{ months }} </p>

<p class="py-3">
  Generated at:{{ now_utc }} and cached for 3 hours afterwards
  <br>
  Click <a href="/admin/activity_report/delete" class="text-decoration-none">here</a> to clear that cache.
</p>

<h3>Rated controller violations</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Join date</th>
      <th>Hours on scope</th>
      <th>Mark for removal</th>
    </tr>
  </thead>
  <tbody>
    {% for controller in rated_violations %}
      <tr>
        <td>
          {{ controller.name }}
          <a href="/controller/{{ controller.cid }}" class="icon-link icon-link-hover text-decoration-none" target="_blank">
            <i class="bi bi-arrow-right-short"></i>
          </a>
        </td>
        <td>{% if controller.home %}Home{% else %}Visiting{% endif %}</td>
        <td>{{ controller.join_date }}</td>
        <td>{{ controller.minutes_online|minutes_to_hm }}</td>
        <td><input type="checkbox" name="{{ controller.cid }}"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 class="pt-5">Observer controller violations</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Join date</th>
      <th>Mark for removal</th>
    </tr>
  </thead>
  <tbody>
    {% for controller in unrated_violations %}
      <tr>
        <td>
          {{ controller.name }}
          <a href="/controller/{{ controller.cid }}" class="icon-link icon-link-hover text-decoration-none">
            <i class="bi bi-arrow-right-short"></i>
          </a>
        </td>
        <td>{% if controller.home %}Home{% else %}Visiting{% endif %}</td>
        <td>{{ controller.join_date }}</td>
        <td><input type="checkbox" name="{{ controller.cid }}"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pt-3">
  <button class="btn btn-warning" role="button" id="btn-roster-remove">Remove marked controllers from roster</button>
</div>

<script>
document
  .getElementById("btn-roster-remove")
  .addEventListener("click", (e) => {
    e.preventDefault();
    const checked = [...document.querySelectorAll('input[type="checkbox"]')]
      .filter((checkbox) => checkbox.checked)
      .map((checkbox) => parseInt(checkbox.getAttribute("name")));
    if (checked.length === 0) {
      return;
    }
    const result = window.confirm(
      "Are you sure you want to remove the selected controllers from the roster?",
    );
    if (!result) {
      return;
    }
    fetch("/admin/activity_report/roster_remove", {
      method: "POST",
      body: JSON.stringify(checked),
      headers: {
        "content-type": "application/json"
      }
    })
      .then((response) => {
        window.location.reload();
      })
      .catch((error) => {
        console.error(error);
        window.alert(`Something went wrong: ${error}`);
      });
  });
</script>
